body {
  font-family:  "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.button {
  background: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  width: 64px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header {
  height: 72px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  font-size: 16px;
  font-weight: 600;
  color: #f9faf8;
}
.logo {
  padding-left: 1rem;
}
.logo a {
  font-size: 24px;
}

.nav {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  padding: 0 1rem;
}

.left-link {
  justify-content: start;
}
.right-link {
  justify-content: end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.logo {
  justify-content: flex-start;
}

.links {
  justify-content: flex-end;
}

.nav ul {
  flex-direction: row;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-basis: auto;
  padding: 4rem 8rem;
}

.hero .logo {
  font-size: 24px;
}

.hero-info {
  display: flex;
  flex-direction: column;
}

.hero-img {
  display: flex;
  height: 300px;
  width: 500px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero h2 {
  font-size: 18px;
}

.hero a {

  color: white;
}
.hero a:hover {
  color: pink;
}

.info {
  background: #fff;
  flex-direction: row;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.info-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}
.card {
  width: 158px;
}
.card-img {
  border: 4px #3882F6 solid;
  border-radius: 20px;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.card-text {
  margin-top: 1rem;
  text-align: center;
}
.quote {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  width: 80%;
}

.quote-author {
  font-weight: bold;
  display: flex;
  align-self: flex-end;
}

.cta {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 150px;
  background: #3882F6;
  border-radius: 8px;
  margin: 4rem 8rem;
}

.cta-text {
  color: white;
}

.cta-btn {
  border: 2px solid white;
  color: white;
}

.cta-btn:hover {
  border: 2px solid pink;
  color: pink;
}

.footer {
  height: 2rem;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
